:root{
  --primary-color-blue:#0078d4;
  --primary-color-purple: #5c2d91;
  --accent-color-blue:#50e6ff;
  --accent-color-purple:#d59dff;
  --accent-color-darkBlue: #203a61;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .about-desc{
      padding:3em;
    }

    .card-media{
      flex-direction: column;
 
    }
    .card-media-object-container{
      width:100%;
      height:200px;
    }
  }


/* events card */
.u-float-right {
  float: right;
}
.card-heading{
  color: var(--primary-color-blue);
  font-size: 25px;
  margin: 0;
  padding-bottom: 1rem;
}
.subtle {
  color: #888;
  font-size: 10px;
}

.subtle2 {
  color: rgb(136, 135, 135);
  font-size: 14px;
  padding-bottom: 2rem;
  margin: 0;
}

.card-media {
  display: flex;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
  height: auto;
  margin-bottom: 25px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
}

.card-media-object-container {
  position: relative;
  flex-grow: 1;
}

.card-media-object {
  background-position: center center;
  background-size: cover;
  height:100%;
  position: relative;
}

.event-img1{
  background-image: url(../images/eventimg.webp);
}

.event-img2{
  background-image: url(../images/event-bg.webp);
}



.card-media-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.card-media:hover .card-media-object:after {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  opacity: 1;
}

.card-media-object-tag {
  background-color: #fff;
  border-radius: 2px;
  padding: 0px 2px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 13px;
}


.card-media-body {
  background-color: #fff;
  float: left;
  height: 250px;
  width: auto;
  padding: 5px 5px;
  position: relative;
}

.card-media-body-top {
  display: block;
}

.card-media:hover .card-media-body-supporting-bottom {
  opacity: 0;
  transform: translateY(-8px);
}

.card-media-body-supporting-bottom-text {
  display: inline-block;
}

.card-media-link {
  color: var(--primary-color-blue);
  text-decoration: none;
}

button {
  transition: all .5s ease;
  color: rgb(80, 161, 248);
  border: 1px solid rgb(80, 161, 248);
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 15px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  height: 45px;
  width: 130px;
}
button:hover {
  color: rgb(80, 161, 248);
  background-color: rgb(0, 0, 0);
}
